*.pdf
*.mp4
*.srt
*.txt
final/
/01 Welcome, Welcome, Welcome!/complete-javascript-course-master/
/01 Welcome, Welcome, Welcome!/003 course-material-v2.0.zip
/01 Welcome, Welcome, Welcome!/003 Download-all-starter-code.txt
/01 Welcome, Welcome, Welcome!/003 Read Before You Start!.html
/01 Welcome, Welcome, Welcome!/004 Migration Guide to v2 + Old Course.html
/01 Welcome, Welcome, Welcome!/complete-javascript-course-master.zip
/03 JavaScript Fundamentals – Part 2/02-Fundamentals-Part-2/starter/
/04 How to Navigate This Course/
/06 [OPTIONAL] HTML & CSS Crash Course/
/07 JavaScript in the Browser_ DOM and Events Fundamentals/05-Guess-My-Number/
/08 How JavaScript Works Behind the Scenes/
/09 Data Structures, Modern Operators and Strings/
/10 A Closer Look at Functions/
/11 Working With Arrays/
/12 Numbers, Dates, Intl and Timers/
/13 Advanced DOM and Events/
/14 Object-Oriented Programming (OOP) With JavaScript/
/15 Mapty App_ OOP, Geolocation, External Libraries, and More!/
/16 Asynchronous JavaScript_ Promises, Async_Await and AJAX/
/17 Modern JavaScript Development_ Modules and Tooling/
/18 Forkify App_ Building a Modern Application/
/19 Setting Up Git and Deployment/
/20 The End!/
/05 Developer Skills & Editor Setup/054 Section Roadmap.html
/07 JavaScript in the Browser_ DOM and Events Fundamentals/069 Section Roadmap.html
